// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "fsl-ls1046a.dtsi"
#include "fsl-ls1046a-miriac-mpxls1046.dtsi"

/ {
	model = "Microsys miriac SBC-LS1046A";
	compatible = "microsys,sbc1046a", "microsys,mpxls1046a", "fsl,ls1046a";

	aliases {
		ethernet0 = &enet2;
		ethernet1 = &enet4;
		ethernet2 = &enet5;
		ethernet3 = &enet6;

		serial0 = &duart0;
		serial1 = &duart1;
		serial2 = &duart2;
		serial3 = &duart3;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&duart0 {
	status = "okay";
};

&duart1 {
	status = "okay";
};

&i2c0 {
	status = "okay";

	eeprom@57 {
		compatible = "at24,24c128";
		reg = <0x57>;
	};
};

&i2c1 {
	status = "okay";
};

&ifc {
	nand@0,0 {
		partition@0 {
			reg = <0x0 0x00100000>;
			label = "NAND U-Boot Image";
			read-only;
		};

		partition@100000 {
			reg = <0x00100000 0x00100000>;
			label = "NAND U-Boot Env";
		};

		partition@200000 {
			reg = <0x00200000 0x01E00000>;
			label = "NAND FIT Image";
		};

		partition@2000000 {
			reg = <0x02000000 0x1e000000>;
			label = "NAND (RW) UBIFS Root File System";
		};
	};
};

#include "fsl-ls1046-post.dtsi"

&fman0 {
	compatible = "fsl,fman", "simple-bus";

	ethernet@e4000 {
		phy-handle = <&rgmii_phy1>;
		phy-connection-type = "rgmii";
	};

	ethernet@e8000 {
		phy-handle = <&sgmii_phy1>;
		phy-connection-type = "sgmii";
	};

	ethernet@ea000 {
		phy-handle = <&sgmii_phy2>;
		phy-connection-type = "sgmii";
	};

	ethernet@f0000 {
		phy-handle = <&sgmii_phy3>;
		phy-connection-type = "sgmii";
	};

	mdio@fc000 {
		rgmii_phy1: ethernet-phy@3 {
			reg = <3>;
		};

		sgmii_phy1: ethernet-phy@2 {
			reg = <2>;
		};

		sgmii_phy2: ethernet-phy@1 {
			reg = <1>;
		};

		sgmii_phy3: ethernet-phy@0 {
			reg = <0>;
		};
	};
};

&pcie1 {
	pci@0,0 {
		#address-cells = <3>;
		#size-cells = <2>;
		reg = <0 0 0 0 0>;
		device_type = "pci";
		ranges = <0x82000000 0x0 0x40000000 0x82000000 0x0 0x40000000 0 0x40000000>;

		jaguar2: switch@0,0 {
			compatible = "pci101b,b003";

			reg = <0x0000 0 0 0 0>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0 0x82000000 0x0 0x48000000 0x2000000>;

			#interrupt-cells = <1>;
			interrupt-controller;
			interrupt-parent = <&jaguar2>;

			jaguar_clk: jaguar-clock {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <250000000>;
			};

			cpu_ctrl: syscon@0 {
				compatible = "mscc,jaguar2-cpu-syscon", "syscon";
				reg = <0x0 0x2c>;
			};

			gpio: pinctrl@1070034 {
				compatible = "mscc,jaguar2-pinctrl";
				reg = <0x1010038 0x90>;
				gpio-controller;
				#gpio-cells = <2>;
				gpio-ranges = <&gpio 0 0 64>;

				uart_pins: uart-pins {
					pins = "GPIO_10", "GPIO_11";
					function = "uart";
				};

				uart2_pins: uart2-pins {
					pins = "GPIO_24", "GPIO_25";
					function = "uart2";
				};

				i2c_pins: i2c-pins {
					pins = "GPIO_14", "GPIO_15";
					function = "twi";
				};

				i2c2_pins: i2c2-pins {
					pins = "GPIO_28", "GPIO_29";
					function = "twi2";
				};
			};

			serial@100000 {
				pinctrl-0 = <&uart_pins>;
				pinctrl-names = "default";
				compatible = "ns16550a";
				reg = <0x100000 0x100>;
				interrupts = <6>;
				clocks = <&jaguar_clk>;
				no-loopback-test;
				reg-io-width = <4>;
				reg-shift = <2>;
			};

			i2c@100400 {
				compatible = "mscc,ocelot-i2c", "snps,designware-i2c";
				pinctrl-0 = <&i2c_pins>;
				pinctrl-names = "default";
				reg = <0x100400 0x100>, <0x1b8 0x8>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <8>;
				i2c-sda-hold-time-ns = <300>;
				clock-frequency = <100000>;
				clocks = <&jaguar_clk>;
			};

			serial@100800 {
				pinctrl-0 = <&uart2_pins>;
				pinctrl-names = "default";
				compatible = "ns16550a";
				reg = <0x100800 0x100>;
				interrupts = <7>;
				clocks = <&jaguar_clk>;
				reg-io-width = <4>;
				reg-shift = <2>;
				no-loopback-test;
			};

			spi@101000 {
				compatible = "mscc,jaguar2-spi", "snps,dw-apb-ssi";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x101000 0x1000>, <0x3c 0x18>;
				interrupts = <10>;
				clocks = <&jaguar_clk>;

				flash@0 {
					compatible = "mx25l25635e", "jedec,spi-nor";
					spi-max-frequency = <20840000>;
					reg = <0>;
				};
			};
		};
	};
};
