// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2017 Microsemi Corporation */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/phy/phy-ocelot-serdes.h>
#include "ocelot_common.dtsi"

/ {
	model = "Ocelot PCB120 DIN rail Reference Board";
	compatible = "mscc,ocelot-pcb120", "mscc,ocelot";

	aliases {
	    i2c0   = &i2c0;
	    i2c108 = &i2c108;
	    i2c109 = &i2c109;
	    i2c201 = &i2c201;
	};
};

&gpio {
	i2c_pins: i2c-pins {
		pins = "GPIO_16";
		function = "twi";
	};
	i2cmux_pins_i: i2cmux-pins-i {
		pins = "GPIO_20", "GPIO_21", "GPIO_17";
		function = "twi_scl_m";
		output-low;
	};
	i2cmux_0: i2cmux-0 {
		pins = "GPIO_20";
		function = "twi_scl_m";
		output-high;
	};
	i2cmux_1: i2cmux-1 {
		pins = "GPIO_21";
		function = "twi_scl_m";
		output-high;
	};
	i2cmux_2: i2cmux-2 {
		pins = "GPIO_17";
		function = "twi_scl_m";
		output-high;
	};
	phy_int_pins: phy-int-pins {
		pins = "GPIO_4";
		function = "gpio";
	};

	phy_load_save_pins: phy-load-save-pins {
		pins = "GPIO_10";
		function = "ptp2";
	};
};

&ahb {
	i2c0_imux: i2c0-imux@0 {
		compatible = "i2c-mux-pinctrl";
		#address-cells = <1>;
		#size-cells = <0>;
		i2c-parent = <&i2c0>;
		pinctrl-names =
			"i2c108", "i2c109", "i2c201", "idle";
		pinctrl-0 = <&i2cmux_0>;
		pinctrl-1 = <&i2cmux_1>;
		pinctrl-2 = <&i2cmux_2>;
		pinctrl-3 = <&i2cmux_pins_i>;
		i2c108: i2c_sfp1 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
		i2c109: i2c_sfp2 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
		i2c201: i2c_pd69xxx {
			reg = <0x2>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};

&mdio1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&miim1_pins>, <&phy_int_pins>, <&phy_load_save_pins>;

	phy7: ethernet-phy@0 {
		reg = <0>;
		interrupts = <4 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-parent = <&gpio>;
		load-save-gpios = <&gpio 10 GPIO_ACTIVE_HIGH>;
	};
	phy6: ethernet-phy@1 {
		reg = <1>;
		interrupts = <4 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-parent = <&gpio>;
		load-save-gpios = <&gpio 10 GPIO_ACTIVE_HIGH>;
	};
	phy5: ethernet-phy@2 {
		reg = <2>;
		interrupts = <4 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-parent = <&gpio>;
		load-save-gpios = <&gpio 10 GPIO_ACTIVE_HIGH>;
	};
	phy4: ethernet-phy@3 {
		reg = <3>;
		interrupts = <4 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-parent = <&gpio>;
		load-save-gpios = <&gpio 10 GPIO_ACTIVE_HIGH>;
	};
};

&port0 {
	status = "okay";
	phy-handle = <&phy0>;
	phy-mode = "internal";
};

&port1 {
	status = "okay";
	phy-handle = <&phy1>;
	phy-mode = "internal";
};

&port2 {
	status = "okay";
	phy-handle = <&phy2>;
	phy-mode = "internal";
};

&port3 {
	status = "okay";
	phy-handle = <&phy3>;
	phy-mode = "internal";
};

&port4 {
	status = "okay";
	phy-handle = <&phy7>;
	phy-mode = "sgmii";
	phys = <&serdes 4 SERDES1G(2)>;
};

&port5 {
	status = "okay";
	phy-handle = <&phy4>;
	phy-mode = "sgmii";
	phys = <&serdes 5 SERDES1G(5)>;
};

&port6 {
	status = "okay";
	phy-handle = <&phy6>;
	phy-mode = "sgmii";
	phys = <&serdes 6 SERDES1G(3)>;
};

&port9 {
	status = "okay";
	phy-handle = <&phy5>;
	phy-mode = "sgmii";
	phys = <&serdes 9 SERDES1G(4)>;
};
