config SPARX5_SWITCH
	tristate "Sparx5 switch driver"
	depends on NET_SWITCHDEV
	depends on HAS_IOMEM
	depends on OF
	depends on ARCH_SPARX5 || ARCH_LAN969X || COMPILE_TEST
	depends on PTP_1588_CLOCK_OPTIONAL
	depends on BRIDGE || BRIDGE=n
	select PHYLINK
	select PHY_SPARX5_SERDES
	select RESET_CONTROLLER
	select VCAP
	select FDMA
	select PAGE_POOL
	help
	  This driver supports the Sparx5 network switch device.

config SPARX5_DCB
	bool "Data Center Bridging (DCB) support"
	depends on SPARX5_SWITCH && DCB
	default y
	help
	  Say Y here if you want to use Data Center Bridging (DCB) in the
	  driver. This can be used to assign priority to traffic, based on
	  DSCP and PCP.

	  If unsure, set to Y.

config SPARX5_DEBUG
	bool "Sparx5 Switch debugging"
	depends on SPARX5_SWITCH
	help
	  Sparx5 Switch debugging,

	  This adds VCAP and TC command debugging to the runtime.

	  Do not enable this, unless you are debugging the driver.

config SPARX5_SWITCH_APPL
	tristate "Sparx5 switch driver used by APPL"
	select LAN969X_SWITCH
	help
	  This driver supports the Sparx5 and Lan969x network switch devices for
	  APPL.

config LAN969X_SWITCH
	tristate "Lan969x switch driver"
	select SPARX5_SWITCH
	help
	  This driver supports the lan969x network switch device.
