// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * lan966x-mesa-pcb8309.dts - Device Tree file for PCB8309
 */
/dts-v1/;
#include "lan966x.dtsi"

/ {
	model = "Microchip LAN966X";
	compatible = "microchip,lan966x-sunrise", "microchip,lan966x";

	aliases {
		i2c102 = &i2c102;
		i2c103 = &i2c103;
	};

	gpio-restart {
		compatible = "gpio-restart";
		gpios = <&gpio 56 GPIO_ACTIVE_LOW>;
		priority = <200>;
	};

	mux: mux-controller {
		compatible = "gpio-mux";
		#mux-control-cells = <0>;

		mux-gpios = <&sgpio_out 11 0 GPIO_ACTIVE_HIGH>, /* p11b0 */
			    <&sgpio_out 11 1 GPIO_ACTIVE_HIGH>; /* p11b1 */
	};

	i2c-mux {
		compatible = "i2c-mux";
		#address-cells = <1>;
		#size-cells = <0>;
		mux-controls = <&mux>;
		i2c-parent = <&i2c4>;

		i2c102: i2c-sfp@1 {
			reg = <1>;
		};

		i2c103: i2c-sfp@2 {
			reg = <2>;
		};
	};
};

&aes {
	status = "disabled"; /* Reserved by secure OS */
};

&flx3 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_USART>;
	status = "okay";

	usart3: serial@200 {
		pinctrl-0 = <&fc3_b_pins>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&flx4 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_TWI>;
	status = "okay";

	i2c4: i2c@600 {
		pinctrl-0 = <&fc4_b_pins>;
		pinctrl-names = "default";
		i2c-analog-filter;
		i2c-digital-filter;
		i2c-digital-filter-width-ns = <35>;
		i2c-sda-hold-time-ns = <1500>;
		status = "okay";
	};
};

&gpio {
	fc3_b_pins: fc3-b-pins {
		/* RX, TX */
		pins = "GPIO_52", "GPIO_53";
		function = "fc3_b";
	};

	fc4_b_pins: fcb4-i2c-pins {
		/* RXD, TXD */
		pins = "GPIO_57", "GPIO_58";
		function = "fc4_b";
	};

	sgpio_a_pins: sgpio-pins {
		/* SCK, D0, D1, LD */
		pins = "GPIO_32", "GPIO_33", "GPIO_34", "GPIO_35";
		function = "sgpio_a";
	};
};

&reset {
	phy0-syscon = <&phy0_ctrl>;
	phy1-syscon = <&phy1_ctrl>;
	chip-syscon = <&chip_ctrl>;
};

&sgpio_in {
	/delete-property/ interrupts;
	/delete-property/ interrupt-controller;
	/delete-property/ #interrupt-cells;
};

&sgpio {
	pinctrl-0 = <&sgpio_a_pins>;
	pinctrl-names = "default";
	status = "okay";
	microchip,sgpio-port-ranges = <0 3>, <8 11>;
	gpio@0 {
		ngpios = <64>;
	};
	gpio@1 {
		ngpios = <64>;
	};
};

&soc {
	chip_ctrl: syscon@e2010000 {
		compatible = "microchip,lan966x-chip-syscon", "syscon";
		reg = <0xe2010010 0x00000014>;
	};

	phy0_ctrl: syscon@e00a0600 {
		compatible = "microchip,lan966x-switch-syscon", "syscon";
		reg = <0xe00a0600 0x00000080>;
	};

	phy1_ctrl: syscon@e00a0a00 {
		compatible = "microchip,lan966x-switch-syscon", "syscon";
		reg = <0xe00a0a00 0x00000080>;
	};
};

&uio0 {
	interrupts = <GIC_SPI 19 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 10 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 11 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI  9 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 80 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 81 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 18 IRQ_TYPE_LEVEL_HIGH>;
	interrupt-names = "master", "ptp_sync", "ptp_rdy",
			  "oam_vop", "cu_phy0", "cu_phy1",
			  "sgpio";
};
